
<div class="entrance">
    <table>
        <!-- <tr><h3>Tables Configurations</h3></tr> -->
        <tr>
            <td>
                <h3>Enable Dashboard Table Paging</h3>
            </td>
            <td> <input type="checkbox" #ifimagepagingbox id="ifimagepagingbox" [checked]="ifimagepaging"
                    (change)="onSaveIfImagePaging(ifimagepagingbox.checked)"></td>
       
            <td>
                <h3>
                    Advanced Search</h3>
            </td>
            <td> <input type="checkbox" #ifimagedirectionpagingbox id="ifimagedirectionpagingbox"
                    [checked]="ifdirectionpaging"
                    (change)="onSaveIfImageDirectionPaging(ifimagedirectionpagingbox.checked)"></td>
       
            <td>
                <h3>
                    Create References</h3>
            </td>
            <td> <input type="checkbox" #ifimagenotepagingbox id="ifimagenotepagingbox" [checked]="ifnotepaging"
                    (change)="onSaveIfImageNotePaging(ifimagenotepagingbox.checked)"></td>
                    </tr><tr>
            <td>
                <h3>Maintain Location</h3>
            </td>
            <td> <input type="checkbox" #ifimagepagingbox id="ifimagepagingbox" [checked]="ifimagepaging"
                    (change)="onSaveIfImagePaging(ifimagepagingbox.checked)"></td>
            <td>
                <h3>
                    Add Labor Code</h3>
            </td>
            <td> <input type="checkbox" #ifimagedirectionpagingbox id="ifimagedirectionpagingbox"
                    [checked]="ifdirectionpaging"
                    (change)="onSaveIfImageDirectionPaging(ifimagedirectionpagingbox.checked)"></td>
            <td>
                <h3>
                    Add Machine</h3>
            </td>
            <td> <input type="checkbox" #ifimagenotepagingbox id="ifimagenotepagingbox" [checked]="ifnotepaging"
                    (change)="onSaveIfImageNotePaging(ifimagenotepagingbox.checked)"></td>
        </tr>
        <tr>
            <td>
                <h3>Enable Dashboard Table Paging</h3>
            </td>
            <td> <input type="checkbox" #ifimagepagingbox id="ifimagepagingbox" [checked]="ifimagepaging"
                    (change)="onSaveIfImagePaging(ifimagepagingbox.checked)"></td>
            <td>
                <h3>
                    Advanced Search</h3>
            </td>
            <td> <input type="checkbox" #ifimagedirectionpagingbox id="ifimagedirectionpagingbox"
                    [checked]="ifdirectionpaging"
                    (change)="onSaveIfImageDirectionPaging(ifimagedirectionpagingbox.checked)"></td>
            <td>
                <h3>
                    Create References</h3>
            </td>
      
            <td> <input type="checkbox" #ifimagenotepagingbox id="ifimagenotepagingbox" [checked]="ifnotepaging"
                    (change)="onSaveIfImageNotePaging(ifimagenotepagingbox.checked)"></td>
                </tr><tr>
            <td>
                <h3>Maintain Location</h3>
            </td>
            <td> <input type="checkbox" #ifimagepagingbox id="ifimagepagingbox" [checked]="ifimagepaging"
                    (change)="onSaveIfImagePaging(ifimagepagingbox.checked)"></td>
            <td>
                <h3>
                    Add Labor Code</h3>
            </td>
            <td> <input type="checkbox" #ifimagedirectionpagingbox id="ifimagedirectionpagingbox"
                    [checked]="ifdirectionpaging"
                    (change)="onSaveIfImageDirectionPaging(ifimagedirectionpagingbox.checked)"></td>
            <td>
                <h3>
                    Add Machine</h3>
            </td>
            <td> <input type="checkbox" #ifimagenotepagingbox id="ifimagenotepagingbox" [checked]="ifnotepaging"
                    (change)="onSaveIfImageNotePaging(ifimagenotepagingbox.checked)"></td>
        </tr>
    </table>
</div>